* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Merriweather', serif;
}

nav {
    position: fixed;
}

.navbar {
    background-color: #313b3d;
    display: flex;
}

.dropdown {
    float: left;
    overflow: hidden;
    color: azure;
    text-decoration: none;
    background-color: cornflowerblue;
    font-size: 15px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 38%;
}

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.header_ul li {
    background-color: #48575a;
    border: 1px dotted rgba(255, 255, 255, 0.3);
    list-style: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: #78ADC9;
    padding: 12px 16px;
    padding-left: 8px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.show {
    display: block;
}

.header_img {
    width: 27%;
    margin-left: 12.5%;
    padding-top: 2.3%;
    padding-bottom: 1.75%;
}

.header_img:hover {
    cursor: pointer;
}

.nav2 {
    background-color: #101010;
    margin-top: 0%;
}

.sidebar {
    float: left;
    position: fixed;
    height: 80vh;
    margin-top: 16.2%;
    width: 20%;
    background-color: #313b3d;
}

.sidebar h4 {
    color: white;
    font-size: 22px;
    font-weight: lighter;
    padding-top: 6%;
    padding-bottom: 6%;
    padding-left: 15%;
}

.sidebar h4:hover {
    cursor: none;
}

.sul1 li {
    list-style: none;
    font-weight: lighter;
    line-height: 40px;
    padding-right: 1vw;
    text-align: center;
}

.sul1 li a {
    color: white;
    font-size: 1.2em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: block;
    text-decoration: none;
    padding-right: 1vw;
    color: #999999;
}

.sul2 {
    padding-top: 20%;
}

.sul2 li {
    list-style: none;
    font-weight: lighter;
    line-height: 40px;
    padding-right: 1vw;
    color: white;
    text-align: center;
}

.sul2 li a {
    color: white;
    font-size: 1.2em;
    display: block;
    text-decoration: none;
    padding-right: 1vw;
}

.nav2_1 {
    display: flex;
    padding-left: 8%;
    justify-content: space-around;
    padding-right: 8%;
}

.nav2_2 {
    display: flex;
    padding-left: 9%;
}

.dropbtn2 {
    background-color: #101010;
    color: #999999;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown2 {
    position: relative;
    display: inline-block;
}

.dropdown-content2 {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content2 a {
    color: white;
    opacity: 0.8;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content2 li {
    list-style: none;
    background-color: rgb(3, 63, 63);
    border: 1px dotted rgba(255, 255, 255, 0.3);
}

.dropdown-content2 a:hover {
    color: rgb(13, 219, 219)
}

.dropdown2:hover .dropdown-content2 {
    display: block;
}

.main_content {
    float: right;
    width: 80%;
    margin-top: 15%;
}

.header {
    padding-bottom: 9px;
    font-size: 50px;
    margin: 40px 0 20px;
    padding-left: 4%;
    border-bottom: 1px solid #eee;
    color: #383838;
}

.main_line {
    display: flex;
    padding-left: 40%;
    padding-top: 1.5%;
}

.irlogo {
    padding-left: 1%;
    width: 6%;
}

.line2_ {
    display: flex;
    padding-left: 39%;
    padding-top: 2%;
}

.line2_1 {
    color: black;
    font-size: 30px;
}

.line2_2 {
    color: grey;
    font-size: 30px;
    padding-left: 1%;
}

.row {
    padding-left: 5%;
    padding-top: 4%;
    display: flex;
    padding-bottom: 2%;
}

.col {
    min-height: 25vh;
    width: 20%;
}

.col2 {
    min-height: 25vh;
    padding-left: 4%;
    line-height: 40px;
    width: 80%;
}

.col2 a {
    text-decoration: none;
}